﻿<div class="jumbotron">
    <h1>Dollar to words converter</h1>
    <p class="lead">Please enter your Name and $ value to convert in words.</p>
</div>
<div class="row">
    <div class="col-md-push-4 col-md-4 col-sm-push-2 col-sm-8">
        <form id="converterform">
            <ul class="list-unstyled">
                <li class="m-bottom-10">
                    <input type="text" id="name" name="name" class="form-control input-lg" placeholder="Enter your name"/></li>
                <li class="m-bottom-10">
                    <input type="text"  id="amount" name="amount" class="form-control input-lg" placeholder="Enter the amount"/></li>
                <li><input type="submit" class="btn btn-primary btn-lg" value="Convert" /></li>
            </ul>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-10 col-md-push-1 text-center">
        <div class="result">
            <h3 class="result-name"></h3>
            <p>Your amount is:</p>
            <p class='lead result-words'></p>
        </div>
    </div>
</div>