﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
.m-bottom-10 {
    margin-bottom: 10px;
}


.navbar {
    background: #fff;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.25);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,.25);
    box-shadow: 0 0 5px 0 rgba(0,0,0,.25);
}
label.error {
    color: #f00;
    padding: 5px 15px;
}
.container .jumbotron {
    background: none;
    border-bottom:1px solid #eeeeee;
}
.result {display: none;}